# Copy this file to [app]/config/config_env.rb
# Replace :[ENV_NAME] with environment name
# Replace [*] with key
# Duplicate 1st code block using different keys for different environments
# ENV variable USER_JWT is for testing, obtain from profile page of Test Client App

config_env :[ENV_NAME] do
  set :DB_KEY, "[database encryption keys encoded with base64 urlsafe encoding]"
  set :MSG_KEY, "[database encryption keys encoded with base64 urlsafe encoding]"
  set :UI_PUBLIC_KEY, "[Web App Private key]"
  set :USER_JWT, "[token]"
end
